@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs{
    <div class="interactive-slider-v2">
        <div class="container">
            <h1>Smartville</h1>
            <p>Monitoramento de enchentes e áreas de risco em tempo real.</p>
        </div>
    </div>
}


<div class="row">
    <div class="col-md-9">
        <h2>Alagamentos e àreas de risco</h2>
    </div>
    <div class="col-md-3">
        <h2>Últimas notícias</h2>
    </div>
</div>