<!--=== Footer Version 1 ===-->
<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <a href="/"><img id="logo-footer" class="footer-logo" src="/Content/assets/site/img/logo2-default.png" alt=""></a>
                    <p>O Smartville é um sistema para controle e monitoramento de enchentes e áreas de risco</p>
                </div><!--/col-md-3-->
                <!-- End About -->
                <!-- Latest -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="posts">
                        <div class="headline"><h2>Últimos alertas</h2></div>
                        <ul class="list-unstyled latest-list">
                            <li>
                                <a href="#">Alerta 1</a>
                                <small>08/03/2016 10:00</small>
                            </li>
                            <li>
                                <a href="#">Alerta 2</a>
                                <small>08/03/2016 10:00</small>
                            </li>
                            <li>
                                <a href="#">Alerta 3</a>
                                <small>08/03/2016 10:00</small>
                            </li>
                        </ul>
                    </div>
                </div><!--/col-md-3-->
                <!-- End Latest -->
                <!-- Link List -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline"><h2>Links</h2></div>
                    <ul class="list-unstyled link-list">
                        <li><a href="#">Home</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="#">Alertas</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="#">Alagamentos</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="#">Aplicações</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="#">Como funciona?</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="#">Contato</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="#">Desenvolvedores</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div><!--/col-md-3-->
                <!-- End Link List -->
                <!-- Address -->
                <div class="col-md-3 map-img md-margin-bottom-40">
                    <div class="headline"><h2>Contato</h2></div>
                    <address class="md-margin-bottom-40">
                        Defesa Civil de Joinville <br />
                        Rua: Santa Catarina, 123 <br />
                        Telefone: (47) 1233-1233<br />
                        Email: <a href="mailto:defesacivil@joinville.com" class="">defesacivil@joinville.com</a>
                    </address>
                </div><!--/col-md-3-->
                <!-- End Address -->
            </div>
        </div>
    </div><!--/footer-->
